.like{
    width: 20px;
    height: 20px;
    display:inline-block;  
    float: right;
    padding: 15px;
}
.main_2{
    padding: 10px 0;
    padding-top: 80px;
    background: #a5a5a5;
    width: 1070px;
    height: 80vh;
    margin: auto;
    text-align:center;
}
.main_2_1{
    padding: 10px 0;
    padding-top: 80px;
    background: #a5a5a5;
    width: 1070px;
    height: 80vh;
    margin: auto;
    text-align:left;
}
div.login{
    display:inline-block;  
}
a.login:link,
a.login:visited{
    font-family: 'Verdana', 'Geneva', sans-serif;
    font-size: 180%;
    text-decoration: none;
    background-color: #cccccc;
    color: #969696;
    padding: 29.5px 45px;
    text-align: center;
    vertical-align: middle;
    display:inline-block;  
}
a.login:hover{
    background-color: #a5a5a5;
    color: #cccccc;
}
a.login{
    margin-left: 20px;
    display: inline-block;
    float: left;
}
p{
    padding-left: 15px;
}
.genre_link:link{
    text-decoration: none;
    color: #969696;
}
.genre_link:visited{
    text-decoration: none;
    color: #969696;
}
.genre_link:hover{
    text-decoration: none;
    background-color: #a5a5a5;
    color: #cccccc;
}
.lista{
    padding-left: 400px;
}
.photo_genre{
    padding-top: 15px;
    display:inline-block;
    float: left;
    margin: 0 20px 20px 0;
}
.text_genre{
    margin: 0;
    padding-right: 60px;
    padding-top: 15px;
    list-style-type: justfy;
}
.text_genre_2{
    margin: 0;
    padding-right: 60px;
    padding-top: 15px;
    list-style-type: justfy;
    text-align: left;
}
.sound{
    margin: 0 10%;
}
.head{
    margin-left: 120px;
    display: inline-block;
    float: left;
}
.head2{
    border-right-style: solid;
    display: inline-block;
    float: right;
}
a.sign:link,
a.sign:visited,
a.sign2:link,
a.sign2:visited,
a.right2:link,
a.right2:visited,
a.right:link,
a.right:visited{
    font-family: 'Verdana', 'Geneva', sans-serif;
    font-size: 180%;
    text-decoration: none;
    background-color: #cccccc;
    color: #969696;
    padding: 29.5px 45px;
    text-align: center;
    vertical-align: middle;
}
a.sign:hover,
a.sign2:hover,
a.right2:hover,
a.right:hover{
    background-color: #a5a5a5;
    color: #cccccc;
}
a.right {
    border-left-style: solid;
    border-right-color:#afafaf;
    margin-right: 139px;
    display: inline-block;
    float: right;
}
a.sign{
    border-left-style: solid;
    border-right-color:#afafaf;
    margin-left: 20px;
    display: inline-block;
    float: left;
}
a.sign2{
    border-left-style: solid;
    display: inline-block;
    float: left;
}
a.right2 {
    padding: 0px 0px;
    border-right-style: solid;
    display: inline-block;
    float: right;
}
.header-container {
    background: #afafaf;
    position:absolute;
    left:0;
    right:0;
    top: 0;
}
.footer-container {
    position:absolute;
    left:0;
    right:0;
}
.footer-containerlow {
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
}

.logo:hover{
    background-image: url('../slike/home1.png');
}

.logo{
    background-image: url('../slike/home.png');
    margin: 0 10%;
}

.main {
    padding: 10px 0;
    padding-top: 80px;
    background: #a5a5a5;
    width: 1070px;
    margin: auto;
    text-align:center;
}
.mainlog {
    padding: 10px 0;
    padding-top: 80px;
    background: #a5a5a5;
    width: 1070px;
    margin: auto;
}

div.genre {
    margin: 10px;
    border: 1px solid #ccc;
    display:inline-block;  
    width: 180px;  
    background-color: #cccccc;
    color: #969696;
}

div.genre:hover {
    border: 1px solid #777;
    background-color: #a5a5a5;
    color: #cccccc;
}

div.genre img {
    width: 100%;
    height: auto;
}

div.name {
    padding: 15px;
    text-align: center;
    display:inline-block;
    float: left;
}

.header-container,
.footer-container,
.footer-containerlow,
.main aside {
    background: #afafaf;
}
/*------------------------------------------------------------------------------*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
    color:black;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #cccccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #cccccc;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}



.title {
    color: white;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}


.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer, 
.footer-containerlow footer {
    color: white;
    padding: 20px 0;
}


.ie7 .title {
    padding-top: 20px;
}



@media only screen and (min-width: 480px) {


    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }



    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {




    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }



    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {


    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;

    }
}


.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
